
{% extends 'base/base.html' %}

{% block title %}Instagram - Register {% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mt-5" style="width: 20rem;" >
                    <div class="card-body">
                        <div class="text-center" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;"><i data-visualcompletion="css-img" 
                            aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yh/r/IS7e616CiR2.png&quot;);
                            background-position: 0px 0px; background-size: 176px 258px; width: 175px; height: 51px; background-repeat: no-repeat; display: 
                             inline-block;"></i></div>
                        <p class="text-center ms-3 me-3 text-secondary h6">Arkadaşlarının fotoğraf ve videolarını görmek için kaydol.</p>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary mt-2 mb-2"><a href="#" class="text-decoration-none text-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook me-2" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                            </svg>Facebook ile giriş yap</a></button>
                    </div>
                    <p class="text-center text-body-secondary">⎯⎯⎯⎯⎯⎯ YA DA ⎯⎯⎯⎯⎯⎯ </p> 

                    <div>
                        {% for message in messages %}
                             <div class="alert alert-danger" role="alert">
                                 <i class="fas fa-exclamation-circle"></i> {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                        <input type="email" name ='email' class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="E-posta">  
                        </div>
                        <div class="mb-3">
                        <input type="text" name ='name_surname' class="form-control bg-light" id="exampleInputPassword1"
                    placeholder="Adı Soyadı">
                        </div>
                        <div class="mb-3">
                            <input type="text" name ='username' class="form-control bg-light" id="exampleInputPassword1"
                        placeholder="Kullanıcı adı">
                            </div>
                            <div class="mb-3">
                                <input type="password" name ='password' class="form-control bg-light" id="exampleInputPassword1"
                            placeholder="Şifre">
                                </div>
                        <p class="text-center ms-2 me-2 text-secondary fsm">Hizmetimizi kullanan kişiler senin iletişim bilgilerini Instagram'a yüklemiş olabilir. <a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.facebook.com%2Fhelp%2Finstagram%2F261704639352628&e=AT2hcO0ct09BTBjmbc-STxNnEKxpPv_UELLya7uKHGm3MmXHs11KcGHhbP5KivZsm4ALQ0MeTG8TcVN8Y0IXYu8-NH7MXgEnH90aqv7yJXQk9MDmrzlCCSt1vAk1_wuebQDs6AtpQdUS0ohym8WuhyDnh1Y">Daha Fazla Bilgi Al</a></p>
                        <p class="text-center ms-2 me-2 text-secondary fsm">Kaydolarak, <a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.facebook.com%2Fprivacy%2Fpolicy&e=AT2hcO0ct09BTBjmbc-STxNnEKxpPv_UELLya7uKHGm3MmXHs11KcGHhbP5KivZsm4ALQ0MeTG8TcVN8Y0IXYu8-NH7MXgEnH90aqv7yJXQk9MDmrzlCCSt1vAk1_wuebQDs6AtpQdUS0ohym8WuhyDnh1Y">Koşullarımızı, Gizlilik İlkemizi</a> ve <a href="https://www.instagram.com/legal/cookies/">Çerezler İlkemizi</a> kabul etmiş olursun.</p>
                        <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary">Kaydol</button>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="card mt-3" style="width: 20rem;" >
                    <div class="card-body">
                    <p class="text-center my-auto">Hesabın var mı? <a href="register.html" class="text-decoration-none text-primary">Giriş yap</a></p>
                    </div>
                    </div>
                    <div class="card mt-3 border-light" style="width: 20rem;" >
                    <p class= "py-auto text-center">Uygulamayı indir.</p>
                    </div>
                    <div class="card border-light" style="width: 20rem;" >
                    <div class="ms-5">
                    <a href="#"><img width="120px" src="https://static.cdninstagram.com/rsrc.php/v3/yp/r/XUCupIzGmzB.png" alt=""> </a>
                    <a class="ms-2" href="#"><img width="95px" src="https://static.cdninstagram.com/rsrc.php/v3/yf/r/BFthdeAc5KC.png" alt=""> </a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}